.titlu {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 24px;
    font-weight: bold;
}
.porecla {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 19px;
    font-style: italic;
}
.subtitlu {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 22px;
}
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 16px;
}
.muzica {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 24px;
}

.artist {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
}

.imagine {
    float: right;
    margin-left: 5px; 
    margin-bottom: 5px;
    width: 20%;
}
