.container_titlu{
    width: calc(80% - 10px);
    text-align: center;
    height: fit-content;
    margin: 0;
    border: 0;
    padding: 0;
} 

.titlu {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 24px;
    font-weight: 900;
    margin: 30px;
    margin-top: 5px;
}
.porecla {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 19px;
    font-style: italic;
}
.subtitlu {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 22px;
    text-indent: 15px;
    font-weight: 600;
}
.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 16px;
}
.muzica {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
    font-size: 24px;
}

.artist {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
}
.artist {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times New Roman;
}
.center {
    margin-left: auto; 
    margin-right: auto;
}

p{
    margin-left: 10px;
    margin-right: 5px;
}

iframe {
    width: 25vw;
}

tr{
    flex: auto;
}

td{
    width: fit-content;
    padding: 2vw;
    text-align: center;
    vertical-align: middle;
}

table{
    table-layout: fixed;
}


@media ( max-width: 450px ){
    .titlu{
        font-size: 5.33333vw ; /* ==24px  */
    }
}


@media (max-width: 320px){
    .titlu{
        margin: 20px;
    }
}