.main_container{
  width: 100%;
}

.citat_citat{
    float: right;
    margin-right: min(5vw, 60px);
    font-size: 0.8vw;
    font-style: italic;
    margin-bottom: 1vw;
}

.citat_persoana{
    float: right;
    max-width: 60%;
    margin-right: min(9vw, 50px);
    font-size: 0.8vw;
    font-style: italic;
    margin-top: 0;
    padding: 0;
}

.citat_div{
    float: right;
    margin: 0px;
    max-width: min(1100px,60vw);
    margin: 0 auto;
    width: fit-content;
}

.citat_container{
    text-align: right;
    width: 40vw;
    float: right;
    margin-bottom: 0;
    height: fit-content;
}


  .citat_container {
    max-width: 100%;
    padding: 0.2vw;
    box-sizing: border-box;
  }

  .citat_citat {
    font-size: 2.5vw; /* Responsive font size */
    line-height: 1.4;
    text-align: center;
    margin-bottom: 0.2vw;
  }

  .citat_persoana {
    font-size: 2vw; /* Responsive font size */
    text-align: right;
    font-style: italic;
    margin-right: 8vw;
    width: 100vw;
  }

  @media screen and (min-width: 1250px) {
    .citat_citat {
      font-size: 31.25px; /* 2.5vw of 1250px */
    }
    .citat_persoana {
      font-size: 25px; /* 2vw of 1250px */
    }
  }

.main_container{
    height: fit-content;
}