.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    border-radius: 16px;
    padding: 8px;
}

.material-symbols-outlined {
    margin-right: min(10px,0.5vw);
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    padding-left: 8px; /* Padding pentru a alinia textul cu sugestiile */
}

.suggestions-wrap {
    position: absolute; /* Make the suggestion box absolute */
    top: 41px; /* Push it below the search bar */
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure it's in front */
    max-height: calc(4 * 54px);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions-li {
    padding: 18px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.suggestions-a {
    font-size: 14px;
    color: #404040;
    text-decoration: none;
    width: 100%;
    display: block;
}


.suggestions-li:hover {
    background-color: #f0f0f0;
}

.suggestions-li:focus {
    background-color: #e0e0e0;
    outline: none; /* Eliminăm borderul implicit când este în focus */
}

/* Scrollbar styling (optional) */
.suggestions-wrap::-webkit-scrollbar {
    width: 8px;
}

.suggestions-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  
  /* Pentru Firefox */
  input[type="search"]::-moz-search-clear-button {
    display: none;
  }
  
  /* Pentru Microsoft Edge */
  input[type="search"]::-ms-clear {
    display: none;
  }